h2 {
    font-family: var(--brick-fonts-baseHeadlineM);
    font-size: var(--brick-fontSizes-baseHeadlineM);
    font-weight: var(--brick-fontWeights-baseHeadlineM);
    letter-spacing: var(--brick-letterSpacings-baseHeadlineM);
    line-height: var(--brick-lineHeights-baseHeadlineM);
    padding-left: 5%;
    padding-right: 5%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logos {
    max-width: 8%;
    max-height:8%;
}