#root {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.space {
  width: 5em;
}

@keyframes logo-spin {
  from {
    transform: rotate(-30deg);
  }
  to {
    transform: rotate(30deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card-trump {
  background-color: red;
}

.card-biden {
  background-color: blue;
}

.vline
{
    position:fixed;
    top:55%;
    left:50%;
    bottom:0; margin:0;
    border:none;
    border-right:solid 2px black;
    z-index:10;
    height: 49px;
}


.read-the-docs {
  color: #888;
}

.votes {
  color: white;
  font-size: 2em;
}

h2 {
  font-family: var(--brick-fonts-baseHeadlineM);
  font-size: var(--brick-fontSizes-baseHeadlineM);
  font-weight: var(--brick-fontWeights-baseHeadlineM);
  letter-spacing: var(--brick-letterSpacings-baseHeadlineM);
  line-height: var(--brick-lineHeights-baseHeadlineM);
}


.MuiTypography-h3 {
  font-family: var(--brick-fonts-baseHeadlineS);
  font-size: var(--brick-fontSizes-baseHeadlineS);
  font-weight: var(--brick-fontWeights-baseHeadlineM);
  letter-spacing: var(--brick-letterSpacings-baseHeadlineM);
  line-height: var(--brick-lineHeights-baseHeadlineM);
}

h4 {
  font-family: var(--brick-fonts-baseHeadlineS);
  font-size: var(--brick-fontSizes-baseHeadlineS);
  font-weight: var(--brick-fontWeights-baseHeadlineM);
  letter-spacing: var(--brick-letterSpacings-baseHeadlineS);
  line-height: var(--brick-lineHeights-baseHeadlineS);
}

.maud {
  --brick-colors-buttonPrimaryBg: pink;
  --brick-colors-buttonPrimaryFg: white;
  --brick-colors-buttonPrimaryBorder: blue;
  --brick-colors-buttonPrimaryHoverBg: red;
  --brick-colors-buttonPrimaryHoverBorder: purple;
}