#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 18em;
}

.space {
  width: 5em;
}

@keyframes logo-spin {
  from {
    transform: rotate(-30deg);
  }
  to {
    transform: rotate(30deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card-trump {
  padding: 2em;
  background-color: red;
}

.card-biden {
  padding: 2em;
  background-color: blue;
}

.read-the-docs {
  color: #888;
}

.votes {
  color: white;
}
